<div>
    <a href="/categories/create">Add category</a>
</div>
    
<p>List of categories:</p>
<% categories.forEach((item) => { %>
    <span><a href="<%= item.url %>"><%= item.name %></a></span>
<% }) %>

