<div>
  <p><%= category.name %></p>
  <p><%= category.description %></p>
</div>

<div>
  <a href="<%= category.url + '/delete' %>">Delete category</a>
  <a href="<%= category.url + '/update' %>">Update category</a>
</div>
